@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    background: white;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins';
    background: white;
}

.app{
    background-color:white;
    border: 2px solid black;
    max-width:470px;
    border-radius:20px;
    width:90%;
    margin: 100px auto 0;
    padding: 40px 35px;
    text-align:center;
}

.list h2{
    display:flex;
    justify-content:center;
    background: white;
    color:rgb(64, 0, 255);
    font-weight:bold;
    align-items:center;
    text-shadow:0 0 22px rgb(64, 0, 255);
}
.list img{
    display:flex;
    margin-left:10px;
    width:40px;
    background: white;
}

.search{
    display:flex;
    justify-content:space-between;
    width:400px;
    height: 40px;
    margin-top:25px;
    gap:10px;
    border-radius:20px;
    border: 2px solid white;
    font-size:20px;
    padding-left:10px;
    background:transparent;
}
#search-input{
    display:flex;
    justify-content:space-between;
    width:400px;
    height: 40px;
    border-radius:12px;
    border: 2px solid white;
    outline:0;
    font-size:20px;
    padding-left:10px;
    background-color:#d9d8d8;
}
#add {
    background-color:rgb(249, 83, 5);
    width: 110px;
    height: 40px;
    color: white;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}

#add:hover{
    transform: scale(1.02);
    background-color: rgb(249, 42, 5);
}

ul li{
    list-style:none;
    text-align:left;
    padding:25px 8px 12px 58px;
    user-select: none;
    cursor:pointer;
    position:relative;
}

ul li::before{
    content:"";
    position:absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    background-image:url("unchecked.png");
    background-size: cover;
    background-position: center;
    top:25px;
    left:3px;
}

ul li.checked{
    color:#555;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url("checked.png")
}
ul li span{
    right:0;
    width:40px;
    height:40px;
    position:absolute;
    font-size:28px;
    top:20px;
    color:#494949;
    line-height:40px;
    text-align:center;
    border-radius:50%;
}

ul li span:hover{
    background:#cecfd2;
}